<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">

  <h1 class="text-3xl text-zinc-800 font-semibold text-center pb-5">
    Cadastrar bebida
  </h1>

  <% if @beverage.errors.any? %>
    <ul>
      <% @beverage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <%= form_with(model: @beverage, class: "flex flex-wrap") do |f| %>

    <div data-controller="image-preview"
      class="flex flex-col justify-end gap-5 w-2/6 items-center p-4 rounded-lg"
    >

      <div class="w-full flex justify-center mt-4">

        <%= image_tag 'no-image.png',
          class: "w-40 h-40 rounded-lg shadow-lg",
          data: { image_preview_target: "fallback" }
        %>

        <img data-image-preview-target="preview" src="#"
          alt="Pré-visualização"
          class="w-36 h-36 object-cover rounded-lg shadow-lg hidden"
        />
      </div>

      <div>
        <%= f.file_field :image, data: { action: "image-preview#previewImage", image_preview_target: "input" }, class: "hidden", id: "file-upload" %>

        <label for="file-upload"
          class="cursor-pointer bg-amber-300 text-slate-700 font-semibold py-2 px-4
            rounded-lg shadow-lg hover:bg-amber-400
          "
        >
          Selecione a Imagem
        </label>
      </div>
    </div>

    <div class="flex-1 flex flex-col gap-2">
      <div class="flex gap-2 w-10/12">
        <div class="flex flex-col flex-1">
          <%= f.label :name %>
          <%= f.text_field :name, class: "rounded-sm" %>
        </div>

        <div class="flex flex-col w-3/12">
          <%= f.label :calories %>
          <%= f.number_field :calories, class: "rounded-sm" %>
        </div>
      </div>

      <div>
        <%= f.label :alcoholic %>
        <%= f.radio_button :alcoholic, true %>
        <span>Sim</span>
        <%= f.radio_button :alcoholic, false %>
        <span>Não</span>
      </div>

      <div class="flex flex-col w-10/12">
        <%= f.label :description %>
        <%= f.text_area :description, class: "rounded-sm" %>
      </div>
    </div>

    <div class="w-full flex justify-center mt-6">
      <%= f.submit "Cadastrar",
        class: "bg-rose-700 hover:bg-rose-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md"
      %>
    </div>

  <% end %>
</section>
