<h1><%= @beverage.name %></h1>

<% if @beverage.active? %>
  <p>Status: Ativo</p>
<% else %>
  <p>Status: Pausado</p>
<% end %>

<%= @beverage.description %>

<% if @beverage.portions.any? %>
  <ul>
    <% @beverage.portions.each do |portion| %>
      <li><%= portion.description %></li>
      <li><%= number_to_currency(portion.price) %></li>
      <li><%= link_to 'Editar porção', edit_beverage_portion_path(@beverage, portion) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma porção disponível.</p>
<% end %>

<%= @beverage.calories %>

<% if @beverage.alcoholic? %>
    <p>Alcólica</p>
<% else %>
    <p>Não alcólica</p>
<% end %>

<p>
  <strong>Imagem:</strong>
  <% if @beverage.image.attached? %>
    <%= image_tag @beverage.image %>
  <% else %>
    <p>Nenhuma imagem disponível.</p>
  <% end %>
</p>

<%= link_to "Editar Bebida", edit_beverage_path(@beverage) %>
<%= button_to "Excluir Bebida", @beverage, method: :delete, data: { confirm: "Tem certeza?" } %>

<%= button_to "#{ @beverage.active? ? 'Pausar' : 'Ativar' } vendas",
  toggle_status_beverage_path(@beverage), method: :patch
%>

<%= link_to "Adicionar porção", new_beverage_portion_path(@beverage) %>

<h3>Histórico de Preços</h3>

<table>
  <thead>
    <tr>
      <th>Porção</th>
      <th>Preço anterior</th>
      <th>Atualizado em</th>
    </tr>
  </thead>
  <tbody>
    <% @beverage.portions.each do |portion| %>

      <% portion.price_histories.each do |price_history| %>
        <tr>
          <td>
            <%= portion.description %>
          </td>
          <td>
            <%= number_to_currency(price_history.price) %>
          </td>
          <td>
            <%= I18n.l(price_history.updated_at.to_date) %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>