<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">

  <header class="bg-slate-100 rounded">
    <div class="w-full flex items-center justify-between p-2 px-4">

      <div class="flex items-center gap-5">

        <h1 class="text-4xl font-bold text-zinc-800">
          <%= @beverage.name %>
        </h1>

        <% if @beverage.active? %>
          <p class="text-green-600 font-semibold bg-green-100 px-3 py-1 rounded-full">Status: Ativo</p>
        <% else %>
          <p class="text-red-500 font-semibold bg-red-100 px-3 py-1 rounded-full">Status: Pausado</p>
        <% end %>

      </div>

      <%= button_to "#{ @beverage.active? ? 'Pausar' : 'Ativar' } vendas", toggle_status_beverage_path(@beverage), method: :patch,
          class: 'bg-blue-500 hover:bg-blue-600 text-white font-semibold py-0.5 px-1.5 rounded'
      %>
    </div>

    <div class="flex flex-col items-start mt-2 p-4 relative">

      <div class="w-full flex items-center gap-2">
        <% if @beverage.alcoholic? %>
          <p class="text-sm font-medium text-red-700 bg-red-100 px-3 py-1 rounded">Alcoólica</p>
        <% else %>
          <p class="text-sm font-medium text-green-700 bg-green-100 px-3 py-1 rounded">Não alcoólica</p>
        <% end %>

        <% if @beverage.calories %>
          <p class="text-sm font-medium text-zinc-900 bg-slate-200 px-3 py-1 rounded">
            Calorias: <%= @beverage.calories %>
          </p>
        <% end %>
      </div>

      <div class="w-full flex gap-4 mt-4">

        <% if @beverage.image.attached? %>
          <%= image_tag @beverage.image,
            class: "w-36 h-36 object-cover rounded-lg shadow-lg bg-white"
          %>
        <% else %>
          <%= image_tag 'no-image.png',
            class: "w-36 h-36 rounded-lg shadow-lg bg-white p-2 py-5"
          %>
        <% end %>

        <p class="text-zinc-900 text-sm p-2">
          <%= @beverage.description %>
        </p>
      </div>

      <div class="flex gap-2 absolute bottom-4 right-4">
          <%= link_to 'Editar Bebida', edit_beverage_path(@beverage),
            class: 'bg-amber-500 hover:bg-amber-600 text-white font-semibold py-0.5 px-1.5 rounded'
          %>

          <%= button_to 'Excluir Bebida', @beverage, method: :delete, data: { confirm: 'Tem certeza?' },
            class: 'bg-rose-500 hover:bg-rose-600 text-white font-semibold py-0.5 px-1.5 rounded'
          %>
        </div>
    </div>
  </header>

  <div>
    <div class="flex items-center justify-between mt-5 px-3 py-2 bg-gray-200 rounded">

      <h3 class="text-xl font-semibold text-zinc-800 mb-2">Porções</h3>

      <%= link_to 'Adicionar porção', new_beverage_portion_path(@beverage),
          class: 'bg-green-500 hover:bg-green-600 text-white font-semibold py-0.5 px-1.5 rounded'
      %>
    </div>

    <% if @beverage.portions.any? %>
      <ul class="space-y-4">
        <% @beverage.portions.each do |portion| %>
          <li class="flex items-center justify-between border-b py-2">
            <div>
              <p class="text-lg font-medium text-secondary"><%= portion.description %></p>
              <p class="text-gray-600"><%= number_to_currency(portion.price) %></p>
            </div>

            <div class="flex items-center">
              <%= link_to 'Editar porção', edit_beverage_portion_path(@beverage, portion),
                class: "text-blue-500 hover:underline bg-blue-100 rounded-lg px-2 py-1"
              %>

              <%= button_to 'Excluir porção', beverage_portion_path(@beverage, portion),
                method: :delete, data: { confirm: 'Tem certeza?' },
                class: "text-red-500 hover:underline ml-4 bg-red-100 rounded-lg px-2 py-1"
              %>
            </div>

          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="flex flex-col items-center justify-center mt-3 py-3">
        <p class="text-gray-600 italic">Nenhuma porção disponível.</p>
      </div>
    <% end %>
  </div>

  <h3 class="text-2xl font-semibold mt-10 mb-4">Histórico de Preços</h3>

  <table class="w-full text-left border border-gray-300 rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
      <tr>
        <th class="p-3">Porção</th>
        <th class="p-3">Preço anterior</th>
        <th class="p-3">Atualizado em</th>
      </tr>
    </thead>
    <tbody>
      <% @beverage.portions.each do |portion| %>
        <% portion.price_histories.each do |price_history| %>
          <tr class="border-t border-gray-200">
            <td class="p-3 text-gray-800"><%= portion.description %></td>
            <td class="p-3 text-gray-800"><%= number_to_currency(price_history.price) %></td>
            <td class="p-3 text-gray-500"><%= I18n.l(price_history.updated_at.to_date) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>
