<section class="flex flex-col items-center">

  <div class="flex justify-between w-11/12 mt-3 bg-gray-300 py-3 px-3 rounded items-center">
    <h1 class="w-full font-semibold">Card치pios</h1>

    <% if current_user.owner? %>
      <%= link_to 'Novo Card치pio', new_menu_path,
        class: "whitespace-nowrap bg-rose-700 hover:bg-rose-600 text-white font-semibold py-1 px-4 rounded-lg shadow-md"
      %>
    <% end %>

  </div>

  <div class=" flex flex-wrap gap-3 justify-between w-11/12 mt-3">
    <% @menus.each do |menu| %>

      <%= content_tag :div, id: dom_id(menu, :content),
        class: "flex flex-col justify-between w-[32%] gap-2 py-2 px-4 bg-gray-200 rounded" do %>

        <div class="flex items-center gap-2 ml-1">
          <span class="text-nowrap text-sm">Card치pio =></span>
          <%= link_to menu.name, menu_path(menu),
            class: "font-bold text-lg underline text-rose-700 hover:text-rose-600"
          %>
        </div>

        <div class="text-md flex gap-2 flex-wrap p-3 bg-gray-300">

          <div class="w-full">
            <b>Total de Itens: </b> <%= menu.menu_items.count %>
          </div>

          <div class="w-full">
            Pratos: <b><%= menu.dishes.count %></b>

            Bebidas: <b><%= menu.beverages.count %></b>
          </div>

          <div class="w-full">
            <% paused_dishes = menu.dishes.where(status: :paused).count %>
            <% paused_beverages = menu.beverages.where(status: :paused).count %>
            <b>Itens pausados:</b> <%= paused_dishes + paused_beverages %>
          </div>
        </div>

        <% if current_user.owner? %>
          <%= render 'menu_buttons_owners', menu: menu %>

        <% else %>
          <%= link_to 'Ver Card치pio', menu_path(menu),
            class: "bg-rose-700 hover:bg-rose-600 text-white font-semibold
              py-1 px-4 rounded-lg shadow-md text-center mx-2 my-0.5
            "
          %>

          <%= link_to 'Novo Pedido', new_order_path(menu_id: menu.id),
            class: "bg-green-700 hover:bg-green-600 text-white font-semibold
              py-1 px-4 rounded-lg shadow-md text-center m-2 my-0.5
            "
          %>
        <% end %>

      <% end %>
    <% end %>
  </div>
</section>