<div class="container mx-auto px-4 py-8">

  <div class="mb-6">
    <h1 class="text-2xl font-bold">Gerenciar Itens do Cardápio: <%= @menu.name %></h1>
  </div>

  <%= form_with url: update_items_menu_path(@menu), method: :post, class: "space-y-8" do |f| %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

      <div class="bg-white rounded-lg shadow p-6">

        <h2 class="text-xl font-semibold mb-4">
          Pratos Disponíveis
        </h2>

        <% if @dishes.any? %>

          <%= render 'menu_items', menu_items: @dishes, selected_ids: @selected_dish_ids,
            type: 'dish'
          %>

        <% else %>
        <p class="text-gray-700 p-5">
          Nenhum prato cadastrado.
        </p>
        <% end %>
      </div>

      <div class="bg-white rounded-lg shadow p-6">
        <h2 class="text-xl font-semibold mb-4">
          Bebidas Disponíveis
        </h2>

        <% if @beverages.any? %>

          <%= render 'menu_items', menu_items: @beverages, selected_ids: @selected_beverage_ids,
            type: 'beverage'
          %>

        <% else %>
        <p class="text-gray-700 p-5">
          Nenhuma bebida cadastrada.
        </p>
        <% end %>
      </div>

    </div>

    <div class="flex justify-center space-x-4">

      <%= link_to 'Cancelar', menus_path,
        class: "px-4 py-2 bg-red-400 rounded-md text-white hover:bg-red-500"
      %>

      <%= f.submit 'Salvar Alterações',
        class: "px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700"
      %>

    </div>

  <% end %>
</div>