<div class="flex">
  <div class="w-1/2 bg-rose-600">
    <img src="/images/ok.png" alt="">
  </div>

  <div class="w-1/2 flex flex-col items-center pt-1 border-l-2 border-orange-600">
    <h2 class="text-2xl text-black pt-4 pb-1.5 italic font-semibold ">
      Crie sua conta
    </h2>
    <div class="bg-amber-300 px-3 rounded">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <%= form_for(
      resource, as: resource_name, url: registration_path(resource_name),
      html: {class: "flex flex-col items-center justify-center w-5/6
        text-black gap-1 rounded-md p-2"}
    ) do |f| %>

      <div class="field flex flex-col">
        <%= f.label :name, class: "text-sm" %>
        <%= f.text_field :name, autocomplete: "given_name", autofocus: true,
          class: "h-6 rounded-sm border-gray-400 focus:outline-none focus:ring focus:ring-rose-600"
        %>
      </div>

      <div class="field flex flex-col">
        <%= f.label :last_name, class: "text-sm" %>
        <%= f.text_field :last_name, autocomplete: "family_name",
          class: "h-6 rounded-sm border-gray-400 focus:outline-none focus:ring focus:ring-rose-600"
        %>
      </div>

      <div class="field flex flex-col" data-controller="cpf-mask">
        <%= f.label :document_number, class: "text-sm" %>
        <%= f.text_field :document_number,
          class: "h-6 rounded-sm border-gray-300 focus:outline-none focus:ring focus:ring-rose-600",
          data: {cpf_mask_target: "cpf"}
        %>
      </div>

      <div class="field flex flex-col">
        <%= f.label :email, class: "text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "h-6 rounded-sm border-gray-300 focus:outline-none focus:ring focus:ring-rose-600"
        %>
      </div>

      <div class="field flex flex-col">
        <div>
          <%= f.label :password, class: "text-sm" %>
          <% if @minimum_password_length %>
          <em>(no mínimo <%= @minimum_password_length %> caracteres)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password",
          class: "h-6 rounded-sm border-gray-300 focus:outline-none focus:ring focus:ring-rose-600"
        %>
      </div>

      <div class="field flex flex-col">
        <%= f.label :password_confirmation, class: "text-sm" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
          class: "h-6 rounded-sm border-gray-300 focus:outline-none focus:ring focus:ring-rose-600"
        %>
      </div>

      <div class="actions py-3 px-1 w-1/2">
        <%= f.submit "Cadastrar",
          class: "w-full bg-rose-700 text-white px-2 py-0.5
            rounded font-semibold hover:bg-rose-600
            cursor-pointer shadow-md"
        %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
