<div id="order-items" data-order-target="orderItems"
  class="space-y-4 p-4 border border-gray-300
    rounded-lg h-80 overflow-auto bg-gray-50
  "
>
  <% if @order.order_items %>
    <% @order.order_items.each do |item| %>

      <% portion_price = Portion.find(item['portion_id']).price %>

      <div class="flex items-center justify-between space-x-2 bg-white p-3 rounded shadow-sm"
        id="selected_portion_<%= item['portion_id'] %>" data-price="<%= portion_price %>"
      >
        <input type="hidden" name="order[order_items_attributes][][portion_id]"
          value="<%= item['portion_id'] %>"
        >

        <div class="text-gray-800 flex-grow text-sm">
          <%= Portion.find(item['portion_id']).portionable.name %> <br>
          <%= Portion.find(item['portion_id']).description %> -
          <%= number_to_currency( portion_price / 100.0, precision: 2) %>
        </div>

        <input type="number" name="order[order_items_attributes][][quantity]"
          value="<%= item['quantity'] %>" min="1" data-action="change->order#calculateTotal"
          class="w-16 border border-gray-300 rounded text-center"
        >

        <input type="text" name="order[order_items_attributes][][note]"
          value="<%= item['note'] %>" placeholder="Observações"
          class="w-40 border border-gray-300 rounded px-2"
        >

        <button type="button" class="text-red-600 hover:underline ml-2"
          data-action="click->order#removeItem"
        >
          Remover
        </button>
      </div>
    <% end %>
  <% end %>
</div>