<% @dishes.each do |dish| %>
  <div>
    <%= link_to dish.name, dish %>
    <%= dish.description %>
    <%= dish.price %>
    <%= link_to "Editar", edit_dish_path(dish) %>
    <%= button_to "Excluir", dish, method: :delete, data: { confirm: "Tem certeza?" } %>
  </div>
<% end %>

<%= link_to 'Cadastrar Prato', new_dish_path %>