<section class="p-6 w-11/12 mx-auto bg-white shadow-md rounded-lg">
  <h1 class="text-2xl text-center mb-4">Novo Prato</h1>

  <% if @dish.errors.any? %>
    <ul class="mb-4 text-red-500">
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @dish, class: "flex flex-wrap" do |f| %>

    <div data-controller="image-preview"
      class="flex flex-col justify-center items-center gap-4 w-2/6 bg-gray-100 p-4 rounded-lg"
    >

      <div class="w-full flex justify-center mt-4">
        <%= image_tag 'no-image.png',
          class: "w-40 h-40 rounded-lg shadow-lg",
          data: { image_preview_target: "fallback" }
        %>

        <img data-image-preview-target="preview" src="#"
          alt="Pré-visualização"
          class="w-36 h-36 object-cover rounded-lg shadow-lg hidden"
        />
      </div>

      <%= f.file_field :image, data: { action: "image-preview#previewImage", image_preview_target: "input" },
        class: "hidden", id: "file-upload"
      %>

      <label for="file-upload"
        class="cursor-pointer bg-amber-300 text-white font-semibold py-2 px-4
          rounded-lg shadow-lg hover:bg-amber-400"
      >
        Selecione a Imagem
      </label>
    </div>

    <div class="flex-1 flex flex-col gap-4 items-center mt-4 md:mt-0 md:ml-4">

      <div class="flex gap-4 w-10/12">
        <div class="flex flex-col flex-1">
          <%= f.label :name, class: "font-semibold text-gray-700" %>
          <%= f.text_field :name, class: "border-gray-300 rounded-md shadow-sm w-full" %>
        </div>

        <div class="flex flex-col w-3/12">
          <%= f.label :calories, class: "font-semibold text-gray-700" %>
          <%= f.number_field :calories, class: "border-gray-300 rounded-md shadow-sm w-full" %>
        </div>
      </div>

      <div class="flex flex-col w-10/12">
        <%= f.label :description, class: "font-semibold text-gray-700" %>
        <%= f.text_area :description, rows: 4, class: "border-gray-300 rounded-md shadow-sm w-full" %>
      </div>
    </div>


    <div class="w-full flex justify-center mt-6">
      <%= f.submit "Cadastrar",
        class: "bg-green-600 hover:bg-green-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md"
      %>
    </div>

  <% end %>
</section>
