<h1><%= @dish.name %></h1>

<% if @dish.description %>
    <p><%= @dish.description %></p>
<% end %>

<p>
  <strong>Imagem:</strong>
  <% if @dish.image.attached? %>
    <%= image_tag @dish.image %>
  <% else %>
    <p>Nenhuma imagem disponível.</p>
  <% end %>
</p>

<%= @dish.price %>
<%= @dish.calories %>

<%= link_to "Editar Prato", edit_dish_path(@dish) %>
<%= button_to "Excluir Prato", @dish, method: :delete, data: { confirm: "Tem certeza?" } %>

