<h1>Editar porção de <%= @portionable.name %></h1>

<% if @portion.errors.any? %>
  <div>
    <% @portion.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with(model: [@portionable, @portion]) do |f| %>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.submit "Atualizar" %>
  </div>

<% end %>