<%= form_with(model: [@menu_item, @portion]) do |f|%>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>