<!DOCTYPE html>
<html>
  <head>
    <title>Palevá</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class='flex justify-between'>
      <nav
        class="flex justify-between w-full h-14 items-center bg-zinc-800
					text-white px-5
				"
      >
        <div class="flex items-center">
          <%= image_tag '/images/paleva-logo.png', class: "ml-1 w-7 h-7" %>
          <%= link_to "PaLevá", root_path, class: "logo" %>
        </div>

        <ul class='flex justify-between gap-5'>
          <% if user_signed_in? %>
            <li><%= button_to "Sair", destroy_user_session_path, method: :delete %></li>
          <% else  %>
            <li><%= link_to "Entrar", new_user_session_path %></li>
            <li><%= link_to "Criar conta", new_user_registration_path %></li>
          <% end %>
        </ul>

      </nav>
    </div>

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
