<!DOCTYPE html>
<html>
  <head>
    <title>Palevá</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class='flex justify-between'>

      <nav
        class="flex justify-between w-full h-14 items-center bg-zinc-800
					text-white px-5
				"
      >

        <%= link_to "Palevá", dashboard_path %>

        <ul class='flex justify-between'>
          <% if user_signed_in? %>
            <li><%= button_to "Sair", destroy_user_session_path, method: :delete %></li>
          <% else  %>
            <li><%= link_to "Entrar", new_user_session_path %></li>
            <li><%= link_to "Criar conta", new_user_registration_path %></li>
          <% end %>
        </ul>

      </nav>
    </header>

    <main class='flex'>
			<% if current_user.restaurant %>
				<aside class='w-48 bg-zinc-800 text-white min-h-screen'>

					<nav class='flex flex-col p-5 gap-5'>
							<%= link_to "Ver Pratos", dishes_path %>
              <%= link_to "Horários", schedules_path %>
							<%= link_to "Novo Prato", new_dish_path %>
					</nav>
				</aside>

			<% end %>

			<div class='flex-1'>

				<%= flash[:notice] %>
      	<%= flash[:alert] %>

				<%= yield %>
			</div>

    </main>
  </body>
</html>
