<!DOCTYPE html>
<html>
  <head>
    <title>PaLevá</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class='flex justify-between'>
      <nav
        class="flex justify-between w-full h-14 items-center bg-zinc-800
					text-white px-5
				"
      >
        <div class="flex items-center">
          <%= image_tag '/images/paleva-logo.png', class: "ml-1 w-7 h-7" %>
          <%= link_to "PaLevá", dashboard_path, class: "logo" %>
        </div>

        <% if current_user.restaurant %>
          <%= form_with(url: search_path, method: :get) do |f| %>
            <%= f.label :query, 'Buscar Itens: ' %>
            <%= f.text_field :query, minlength: '1', required: true,
              placeholder: 'Nome, descrição ou caracteriscas do item',
              class: 'w-64 h-7 text-sm text-zinc-800 rounded-md border border-zinc-600'
            %>
            <%= f.submit 'Buscar',
              class: "ml-2 py-1 px-2 bg-zinc-600 hover:bg-zinc-700
              cursor-pointer text-white text-sm rounded shadow-sm font-semibold"
            %>
          <% end %>
        <% end %>

        <ul class='flex justify-between'>
          <li><%= button_to "Sair", destroy_user_session_path, method: :delete %></li>
        </ul>

      </nav>
    </header>

    <main class='flex'>
			<% if current_user.current_restaurant %>
				<aside class='w-44 bg-zinc-800 text-white min-h-screen pt-5'>

          <div class="w-full flex flex-col items-center">
            MENU
            <hr class="w-9/12">
          </div>

          <nav class="w-full flex justify-center">

            <ul class="w-9/12 flex flex-col gap-2 py-2">

              <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                <%= link_to "Inicio", dashboard_path %>
              </li>

              <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                <%= link_to "Pedidos", orders_path %>
              </li>

              <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                <%= link_to "Cardápios", menus_path %>
              </li>

              <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                <%= link_to "Restaurante", restaurant_path(current_user.current_restaurant) %>
              </li>

              <% if current_user.owner? && current_user.restaurant %>
                <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                  <%= link_to "Pratos", dishes_path %>
                </li>

                <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                  <%= link_to "Bebidas", beverages_path %>
                </li>

                <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                  <%= link_to "Marcadores", tags_path %>
                </li>

                <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                  <%= link_to "Funcionários", employees_path %>
                </li>

                <li class="hover:bg-zinc-700 px-2 py-1 rounded-sm">
                  <%= link_to "Horários", schedules_path %>
                </li>
              <% end %>
            </ul>

          </nav>

				</aside>

			<% end %>

			<div class='flex-1'>

        <div class="w-full">
          <div class="flex justify-center text-green-900 font-semibold">
            <%= flash[:notice] %>
          </div>

          <div class="flex justify-center text-red-900 font-semibold">
            <%= flash[:alert] %>
          </div>
        </div>

				<%= yield %>
			</div>

    </main>
  </body>
</html>
